body {
    text-align: center;
    color: black;
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

.pokedex {
    position: relative;
    top:0;
    left:0;
}

.info {
    color: black; 
    background-color: #32fb09;
    position: absolute;
    top: 260px;
    left: 710px;
    height: 270px;
    width: 270px;
}

.name {
    position: absolute;
    width: 270px;
    text-align: center;
    top: 185px;
    left: 710px;
    background-color: #32fb09;
}

button {
    background-color: #b8ffaa;
    border: 2px double #cccccc;
    padding: 20px;
    font-size: 15px;
}

.search {
    color: black;
    position: absolute;
    top: 517px;
    left: 755px;
}

#sprite {
    background-color: white;
    position: absolute;
    top: 167px;
    left: 264px;
    width: 325px;
    height: 325px;
}

.changePoke {
    position: absolute;
    top: 450px;
    left: 780px;
}