body{
    text-align: center;
    color: blueviolet;
    background-color: lightgrey;
    font-family: 'Courier New', Courier, monospace;
    
}

#sprite {
    background-color: aliceblue;
    width: 400px;
    height: 400px;
}