:root {
    --res: 0;
}

body {
    text-align: center;
    color: black;
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    min-width: 600px;
    max-width: 800px;
}

.pokedex {
    position: relative;
    top:0%;
    left:0%;
}

.info {
    color: black; 
    background-color: #32fb09;
    position: absolute;
    top: 40%;
    left: 60%;
    height: 270px;
    width: 270px;
}

.name {
    position: absolute;
    width: 270px;
    text-align: center;
    top: 29%;
    left: 60%;
    background-color: #32fb09;
}

button {
    background-color: #b8ffaa;
    border: 2px double #cccccc;
    padding: 20px;
    font-size: 15px;
}

.search {
    color: black;
    position: absolute;
    top: 82.5%;
    left: 65%;
}

#sprite {
    background-color: white;
    position: absolute;
    top: 26.7%;
    left: 4%;
    width: 325px;
    height: 325px;
}

.changePoke {
    position: absolute;
    top: 70.5%;
    left: 69%;
}