body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

#pokeName {
    position: absolute;
    left: 430px;
    top: 10px;
}

#sprite {
    position: absolute;
    width: 325px;
    height: 325px;
    left: 500px;
    top: 200px;
}